body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: black;
}

.container{
    display: grid;
    margin: 0 20%;
    height: 100vh;
    background-color: white;
    grid-template-columns:[first] 20% [second] 80%[third] ;
    grid-template-rows: [first] 20% [second] 80%[third] ;
}

.side-bar,
.header,
.main, .trending, .projects, .announcements, .sub{
    border: 1px solid black;
}

.side-bar{
    grid-row: 1 / span 2;
    display: grid;
    padding-left: 20px;
    grid-template-rows: [first] 7% [second] 30%[third] 15% [fourth] ;
    row-gap: 20px;
}

.branding{
    align-self: center;
    font-size: 20px;
}

.navigation{
    display: grid;
}

.settings{
    display: grid;
}

.header{
    display: grid;
    grid-template-columns:[first] 70% [second] 30%[third] ;
    grid-template-rows: [first] 50% [second] 50%[third] ;
    box-sizing: border-box;
    padding: 20px;
}

.main{
    display: grid;
    grid-template-columns:[first] 70% [second] 30%[third] ;
    grid-template-rows: [first] 50% [second] 50%[third] ;
}

.projects{
    grid-row: 1 / span 2;
    display: grid;
    grid-template-columns:[first] 49% [second] 49%[third] ;
    grid-template-rows: [first] 7% [second] 25%[third] 25% [fourth] 25% [fifth];
    padding: 0px 15px;
    gap: 10px;
    box-sizing: border-box;
}

.projects> h3{
    grid-column: 1 / span 2;
    
}

.announcements{
   padding: 0 15px;
   
}

.trending{
    padding: 0px 15px;
}

h4,h5{
    margin: 0px;
}

h5{
    padding-top: 10px;
}

.sub>p, .subb>div>p{
    margin: 0;
}

.subb>div>p{
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.announcements>h3, {
    margin-bottom: 0px;
}

.subbb>div{
    font-size: 15px;
    padding-bottom: 10px;
}

.trending>h3{
    margin: 10px 0px;
}